body
{

    background-color: #2F3336;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: auto;
    width: auto;

}

.navbar-nav li:hover>.dropdown-menu
{
    display: block;
}


.up
{
    float: left;
    padding-left: 60px;
    font-family: monospace;
    text-align: center;

}

.all figcaption
{
    margin-top: 10px;
    color: azure;
    text-align: center;
}

.row
{
    margin-top: 20px;
}

.all img
{
    width: 100%;
    height: auto;
}


#logowanie
{
    text-align: center;
    margin-top: 150px;
    color: aliceblue;

}

#pp
{
    font-family: monospace;
    color: aliceblue;
    font-size: 40px;
}

dt
{
    padding-top: 10px;
}

