#glowny
{ 
    background-color: bisque;
    font-weight: bold;
}

#zad2
{
    background-color: blanchedalmond;
    font-weight: bold;
}

#zad3
{
    background-color: beige;
    font-weight: bold;
}